In [1]:
import pandas as pd
import numpy as np

## Loading the Iris dataset

Basic data explorations will be performed on said dataset to enable better understanding of it.

In [2]:
data = pd.read_csv("Iris_Modified.csv")

In [3]:
data.sample(5)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
78,77,6.8,2.8,4.8,1.4,Iris-versicolor
104,103,7.1,3.0,5.9,2.1,Iris-virginica
60,59,6.6,2.9,4.6,1.3,Iris-versicolor
43,43,4.4,3.2,1.3,0.2,Iris-setosa
48,48,4.6,3.2,1.4,0.2,Iris-setosa

In [19]:
data.shape

(153, 6)

In [20]:
data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  153.000000     153.000000    150.000000     150.000000    153.000000
mean    75.392157       5.847059      3.051333       3.761333      1.201961
std     43.737891       0.828049      0.430816       1.769950      0.768497
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.000000       5.100000      2.800000       1.525000      0.300000
50%     75.000000       5.800000      3.000000       4.350000      1.300000
75%    113.000000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             153 non-null    int64
 1   SepalLengthCm  153 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   153 non-null    float64
 5   Species        153 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.3+ KB

## Checking for missing values

Basic operations to find and determinde the number of missinf values will be done.

In [5]:
# The issna() and isnull() functions can be use interchangeably
missing_values_count = data.isnull().sum()
missing_values_count

Id               0
SepalLengthCm    0
SepalWidthCm     3
PetalLengthCm    3
PetalWidthCm     0
Species          0
dtype: int64

In [6]:
# Total number of cells
x, y = data.shape
total_cells = x*y
total_cells

918

In [7]:
# Total missing values
total_missing_values = int(missing_values_count.sum())
total_missing_values

6

In [8]:
# % of missing values
(total_missing_values/total_cells) * 100

0.6535947712418301

## Drop all rows with null values

The missing values will be handled by deletong the rows contating them, in this case 6

In [9]:
droped_null = data.dropna().copy()
droped_null.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [10]:
print(f"Rows in original dataset:{data.shape[0]}")
print(f"Rows with na's dropped: {droped_null.shape[0]}")

Rows in original dataset:153
Rows with na's dropped: 147

## Filling in missing values automatically

The missing values will be filled in with a given value, in this case 0

In [18]:
#Using fillna()
data_autofill = data.copy()
data_autofill.fillna(0, inplace=True)
data_autofill.isna().sum()

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

# Filling in missing values with already exixting value

The missing values in this case will be filled in with the value on the row before it or the row after it.

In [17]:
#using bfill() and ffill()
data_autofill_1 = data.copy()
data_autofill_1 = data_autofill_1.bfill().ffill()
data_autofill_1.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64