In [1]:
import pandas as pd
import numpy as np

## Loading the Iris dataset

In [2]:
data = pd.read_csv("Iris_Modified.csv")

In [3]:
data.sample(5)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
78,77,6.8,2.8,4.8,1.4,Iris-versicolor
104,103,7.1,3.0,5.9,2.1,Iris-virginica
60,59,6.6,2.9,4.6,1.3,Iris-versicolor
43,43,4.4,3.2,1.3,0.2,Iris-setosa
48,48,4.6,3.2,1.4,0.2,Iris-setosa

In [4]:
data.shape

(153, 6)

## Checking for missing values

In [5]:
missing_values_count = data.isnull().sum()
missing_values_count

Id               0
SepalLengthCm    0
SepalWidthCm     3
PetalLengthCm    3
PetalWidthCm     0
Species          0
dtype: int64

In [6]:
# Total number of cells
x, y = data.shape
total_cells = x*y
total_cells

918

In [7]:
# Total missing values
total_missing_values = int(missing_values_count.sum())
total_missing_values

6

In [8]:
# % of missing values
(total_missing_values/total_cells) * 100

0.6535947712418301

## Drop all rows with null values

In [9]:
droped_null = data.dropna().copy()
droped_null.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [10]:
print(f"Rows in original dataset:{data.shape[0]}")
print(f"Rows with na's dropped: {droped_null.shape[0]}")

Rows in original dataset:153
Rows with na's dropped: 147

## Filling in missing values automatically

In [11]:
#Using fillna()
data_autofill = data.copy()
data_autofill.fillna(0, inplace=True)
data_autofill.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [17]:
#using bfill() and ffill()
data_autofill_1 = data.copy()
data_autofill_1 = data_autofill_1.bfill().ffill()
data_autofill_1.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [13]:
data.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     3
PetalLengthCm    3
PetalWidthCm     0
Species          0
dtype: int64